/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* CUSTOM */

body {
  padding-bottom: 0rem;
  background-color: transparent;
  background-image: url(https://ticklehead.files.wordpress.com/2015/03/tree171.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-width:300px;
}

main {
  background: rgba(29, 25, 80, 0.85);
  margin-bottom: 0pt;
}

.anchor {
  display: block; position: relative; top: -7rem; visibility: hidden;
}

.container-marketing {
  background-color: white;
  margin: 0pt;
  max-width: 100%;
  padding: 5rem;
  margin-top: 5rem;
  text-align: center;
}

/* header */

#logo {
  height: 50px;
  padding: inherit;
  margin: 0.5em;
}

.form-control{
  background-color: transparent;
}

.form-control:hover, .form-control:active:focus, .form-control:active, .form-control:focus{
  background-color: transparent;
  color: white;
  border-color: white;
  box-shadow: None;
}

.btn-outline-success {
  color: white;
  border-color: white;
}


/* homepage */

h1 {
  color: #fcba06;
}

.btn-show {
  background-color: transparent;
  color: white;
  border-color: white;
}

.btn-show:hover, .btn-show:focus, .btn-show:active, .btn-show:active:focus {
  color: transparent;
  background-color: #fcba06;
  border-color: #fcba06;
  color: black;
  box-shadow: None;
}


 
/* form */

#url_form.container {
  background-color: white;
  margin: 0pt;
  width: 100%;
  max-width: 100%;
  color: gray;
}

form{
  padding: 3rem;
}

input.form-control {
  width: 85%;
  margin: 0pt;
  transition: none;
  border: none;
  display: inline;
  float:inline-end;
}

.btn-primary {
  width: 10%;
  min-width: 7rem;
  background-color: #423eaf;
  float:inline-end;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
  background-color: #7e7cf7;
  box-shadow: None;
}
/* features */

.featurette-divider {
  margin: 3rem 0;
}

#feature1 {
  background-image: url('../img/news.svg');
}

#feature2 {
  background-image: url('../img/stats.webp');
}

/* team */
.section-heading{
  text-align: center;
  margin-bottom: 3rem;
  background-color: white;
  font-weight: 400;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -.05rem;
}

.row {
  justify-content: space-between;
  justify-content: space-around;
}

#team {
  background-image: url('../img/confetti_l.png'), url('../img/confetti_r.png');
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  }

.col-lg-4{
  padding-bottom: 5rem;
  background-color: white;
}

[role="img"] {
  background-repeat: no-repeat;
  background-size: cover;
}

#elisa {
  background-image: url(https://media-exp1.licdn.com/dms/image/C4D03AQG6qGrEtBqEYg/profile-displayphoto-shrink_400_400/0/1592065975947?e=1646265600&v=beta&t=sLvsYgrQudEEDmIhltJVSpIqk-653U37Z5yGSWAk3tw);
}

#anna {
  background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQHARWUFG_HECw/profile-displayphoto-shrink_800_800/0/1605094421815?e=1646265600&v=beta&t=iJN3gQLDRgrlBtDZx0pQ8yF8XT0_dxkNaP00J8nFHTU);
}

/* footer */
footer.container{
  background-color: white;
  padding: 3rem;
  max-width: 100%;
}

input.form-control, input.form-control:hover, input.form-control:active, input.form-control:focus {
  border: transparent;
  color: lightgray;
}

/* RESULTS */

#results1 {
  background-image: url('https://cdn.dribbble.com/users/135634/screenshots/4843483/800.png');
  background-position: center;
  background-size: 95%;
}