body {
margin: 0px;
padding: 0px;

text-align: center;
float: center;
background-color: white;
width: 7.5cm;
font-family: 'Annie Use Your Telescope'
}

button {
padding: 20px;
align: centre;
float: centre;

border: 1px solid transparent;
border-radius: 3 px;
cursor: pointer;

background-color: #D9D3C7;
background-color: transparent; 
border: 0px;
font-weight: 700;
font-size: 20pt;

width: 100%;
heigth: 100%;

/* font-family: 'Amatic SC'; */
/* font-family: 'Boogaloo'; */
font-family: 'Annie Use Your Telescope';

background: rgba(225, 225, 225, 0.5);
}


button:hover {
background-color: #667302;
background: rgba(150,150,150,0.25);
}

.logo {
align: center;
padding: 10%;
width: 75%;
height: auto;
}

#lower_block {
background-image: url(graphics/newspaper.png);
font-family: Arial, Helvetica, sans-serif;
}

h1{
margin-top:0px;
}